.add-button {
  margin: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* מרכז את התוכן */
  width: 144px;
  height: 40px;
  border: 2px solid #22c55e;
  background-color: #22c55e;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
  direction: rtl;
  .text{
    margin-right: 10px;
    color: #e5e7eb;
    font-weight: 600;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1;
  
  }
  .icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    background-color: #22c55e;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease;
    border-radius: 0.5rem;
    z-index: 0;
  }
  &:hover .text{
    transform: translateX(-100%);
    opacity: 0;
  
  }
  &:hover .icon{
    width: 100%;

  }

}


.icon {
  color: white;
  width: 24px;
  height: 24px;
}

