
.app-header{
    justify-content: space-between;
    align-items: baseline
}
.toy-list{
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));

}
.toy-card{
    display: flex;
    flex-direction: column
}
.toy-details{
    // flex-direction: column;
    align-items: center;
}
.btn-details{
    align-items: center;
}
.dashboard{
    gap: 25px;
}
.PopUp-container{
    align-items: center;
    justify-content: space-between
}   
.login-page {
    flex-direction: column;
    align-items: center;
}
