* {
    box-sizing: border-box;
  }
  
  html {
    color: rgb(3, 3, 3);
    background-color: #CBD5E1;
    font-family: roboto, sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.5em 0 0.5em;
  }
  
  p {
    margin: 0 0 1em;
  }
  
  a {
    text-decoration: none;
    color: unset;
  }
  
  /* Dont stretch my Media */
  img,
  embed,
  video,
  object {
    max-width: 100%;
  }
  
  /* Simple and useful CSS Debugging Technique */
  .debug * {
    outline: 1px solid gold;
  }
  
  